@model Alumno
@{
    ViewData["Title"] = "Informacion Alumnos";
    // Layout = "_layout2";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<strong>Relacion de alumnos</strong>

<p>Nombre:  @Model.Nombre <br/>
   Id: @Model.Id
</p>
<strong>(tag helper) Desde la vista parcial o componente</strong>
<partial name="ObjetoEscuelaUnitario" />
<p><i>@ViewBag.Fecha</i></p>

